sudo: required
dist: trusty
group: deprecated-2017Q2
language: scala
scala:
  - 2.12.4
  - 2.11.11
branches:
  only:
    - master
script:
  - sbt ++$TRAVIS_SCALA_VERSION 'testOnly -- -l NeedsExternalBinary'
