
// $odinsonblue: #3F5A6C;
// $proctext: #62766F;
// $proctext: #254287;
// $proctext: #193f9a;
$proctext: #283D45;
$odinsonmustard: #8A7117;
$teal: #176A8A;
$grey_teal: #ededed;

// $sidebar-color: $D7DBD5;
$sidebar-color: #edeff5;
// $sidebar-color: #edf1f5;

// $link-color: #023d78;
$link-color: #323D61;
$feedback-color: darken($sidebar-color, 6%);
// $feedback-color: lighten($grey_teal, 30%);

// $body-heading-color: darken($proctext, 10%);
$body-heading-color: #1f3a94;
// $body-heading-color: darken($link-color, 10%);

$code-background-color: #f5f6f7;
// $code-background-color: lighten($grey_teal, 3%);
