<!DOCTYPE html>
<html>
    <head>
        <title>processors visualizer</title>
        <link rel="stylesheet" type="text/css" href="assets/stylesheets/main.css"/>
        <link rel="stylesheet" type="text/css" href="assets/brat/static/style-vis.css"/>
        <script type="text/javascript" src="assets/brat/client/lib/head.load.min.js"></script>
        <script type="text/javascript" src="assets/javascripts/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="assets/javascripts/mainbrat.js"></script>
        <script type="text/javascript" src="assets/javascripts/main.js"></script>
    </head>

    <body>
        <h1>processors visualizer</h1>

        <div id="overlay">
            <div id="loading">
                &nbsp;&nbsp;&nbsp;<img src="assets/images/loading.svg"> <br />
                Reading text...
            </div>
        </div>

        <h2>Input</h2>
        <form>
            <textarea id="text" name="text" rows="5" cols="120"></textarea>
            <br />
            <input id="submit" type="submit">
        </form>

        <h2>Output</h2>

        <h3>Syntax</h3>
        <div id="syntax"></div>
        <br>

        <h3>Odin</h3>
        <div id="odin"></div>
        <br>

        <h3>Mentions</h3>
        <div id="mentions"></div>
        <br>

        <h3>Parse</h3>
        <div id="parse"></div>
        <br>
    </body>
</html>
