<!DOCTYPE html>
<html>
    <head>
        <title>World Modelers Visualizer</title>
        <link rel="stylesheet" type="text/css" href="assets/stylesheets/main.css"/>
        <link rel="stylesheet" type="text/css" href="assets/brat/static/style-vis.css"/>
        <script type="text/javascript" src="assets/brat/client/lib/head.load.min.js"></script>
        <script type="text/javascript" src="assets/javascripts/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="assets/javascripts/mainbrat.js"></script>
        <script type="text/javascript" src="assets/javascripts/main.js"></script>
    </head>

    <body>
        <h1> World Modelers &ndash; Eidos Visualizer </h1>

        <div id="overlay">
            <div id="loading">
                &nbsp;&nbsp;&nbsp;<img src="assets/images/loading.svg"> <br />
                Reading text...
            </div>
        </div>

        <form>
            <textarea id="text" name="text" rows="5" cols="120"></textarea>
            <br />
            <input id="submit" type="submit">
            <input id="cagRelevantOnly" type="checkbox" name="cagRelevantOnly" value="cagRelevantOnly">Show CAG relevant only<br>
        </form>

        <div id="eidosMentions"></div>

        <br>

        <div id="syntax"></div>

        <div id="groundedAdj" class="add-info"></div>

        <table id="parse"></table>
    </body>
</html>
